body {
  background: radial-gradient(circle, #00111a, #000);
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
  width: 640px;
  margin: auto;
}

video, canvas {
  width: 640px;
  height: 480px;
  border-radius: 12px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
